<h1> Place an order! </h1>


<p> Select how often you would like to receive your order: </p>

<div>
    <%=  form_for(@order) do |f| %>
    Name of Order:  <%= f.text_field :name %><br>
    Choose Frequency:
  <%=  f.select :frequency, frequency_options, :prompt => 'select one' %><br>
  Choose size:
    <%= f.select :size, size_options, :prompt => 'select one' %>
    <br>
    <%= f.label :milk_id, "Choose Milk:" %>
    <%= f.collection_select :milk_id, Milk.all, :id, :milktype, prompt: true %>
    <br>
 <%= f.submit "Place order" %>

<% end %>

</div>
